severity = brutal
verbose = 8
exclude = RegularExpressions::RequireDotMatchAnything RegularExpressions::RequireExtendedFormatting RegularExpressions::RequireLineBoundaryMatching RequireEmacsFileVariables RequirePODUseEncodingUTF8 RequireRcsKeywords RequireUseOfExceptions

[Documentation::PodSpelling]
stop_words = perlmodinstall github Gruenauer Metheringham plugin bugtracker CPAN

[Subroutines::ProhibitCallsToUndeclaredSubs]
exempt_subs = Carp::croak Moose::has Moose::with
