severity = brutal
verbose = 8
exclude = RegularExpressions::RequireDotMatchAnything RegularExpressions::RequireExtendedFormatting RegularExpressions::RequireLineBoundaryMatching RequireEmacsFileVariables RequirePODUseEncodingUTF8 RequireRcsKeywords RequireUseOfExceptions

[Documentation::PodSpelling]
stop_words = perlmodinstall github Gruenauer Metheringham plugin bugtracker CPAN

[Documentation::RequirePodSections]
lib_sections = NAME | VERSION | SYNOPSIS | COPYRIGHT AND LICENSE

[Subroutines::ProhibitCallsToUndeclaredSubs]
exempt_subs = Carp::croak Moose::has Moose::with

[Subroutines::ProhibitUnusedPrivateSubroutines]
private_name_regex = _(?!build_)\w+
